<div class="row">
    <div class="col-sm-9">


        <div *ngIf="!hidenewVideo">
            <h2>New Video</h2>
            <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)"  class="well">
                <div class="from-group">
                    <label>Title</label>
                    <input type="text" class="form-control" required name="title" ngModel>
                </div>
                <div class="from-group">
                    <label>Url</label>
                    <input type="text" class="form-control" required name="url" ngModel>
                </div>
                <div class="from-group">
                    <label>Description</label>
                    <input type="text" class="form-control" required name="description" ngModel>
                </div>
                <button type="submit" class="btn btn-success">SAVE</button>
            </form>
        </div>


        <video-detail (updateVideoEvent)="onUpdateVideoEvent($event)"
        *ngIf="selectedVideo && hidenewVideo" [video]="selectedVideo"></video-detail>
    </div>
    <div class="col-sm-3">
        <button (click)="newVideo()" style="margin-bottom:2px;" type="button" class="btn btn-success btn-block">+New Video</button>
        <video-list (SelectVideo)="onSelectVideo($event)" [videos]="videos"></video-list>
    </div>
</div>